{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title> 
{% endblock %}

{% block body %}
<h1>Editing Post</h1>

    <hr>
    <h2>Edit:</h2>
    <form action='{{ url_for("post.edit", id=post.id)}}' method='POST'>
        {{ form.csrf_token }}
        Title: <input type='text' name='title' id='title' value="{{post.title}}">
        <br>
        Post: <input type='text' name='content' id='content' value="{{post.content}}">
        <br>
        <input type='submit' value='Save'>
    </form>
    <hr>
{% endblock %}