{% extends 'base.html' %}
{% block head %}
<title>Forgot Password</title>
{% endblock head %}

{% block body %}
    {% if done %}
        <h1>Your password reset request has been sent.</h1>
        <h1>Please check your email to complete the reset</h1>
    {% else %}
        <form action="#" method="post">
            {{ form.csrf_token }}
            {{ form.email.label }}
            <br>
            {{ form.email }}
            <br>
            {% for error in form.email.errors %}
                <small>{{ error }}</small>
                <br>
            {% endfor %}
            <input type="submit" value="Send">
        </form>
    {% endif %}
{% endblock body %}