{% extends 'base.html' %}

{% from 'helpers.html' import render_post, aside with context%}


  {% from 'helpers.html' import delete_modal %}

{% block head %}
<title>{{ user }}'s Page</title>
<style>
  a.disabled {
  /* Make the disabled links grayish*/
  color: initial;
  /* And disable the pointer events */
  pointer-events: none;
}
</style>
{% endblock %}

{% block body %}
  <main class="container mt-4">
    <div class="row">
      <div class="posts col-md-8">
        <div class="row">
          <h2 class="text-capitalize d-inline">{{ user }}'s posts</h2>
          
        </div>

        {% for post in posts %}
            <div class="post">
                {{ render_post(post=post, index=True) }}
            </div>
        {% else %}
            No posts yet
        {% endfor %}
       
      </div>
      
      {{ aside() }}
    </div>
    
  </main>
  {{ delete_modal() }}
    

{% endblock %}


