{% extends 'base.html' %}
{% from 'helpers.html' import render_post, aside with context %}


{% block head %}
<title>Posts</title> 
{% endblock %}

{% block body %}
<main class="container">
    <div class="row mt-4">
        <div class="col-md-8">
            <h2>ALL POSTS</h2>

            {% for post in posts %}
                {{ render_post(post) }}
            {% else %}
                No posts yet
            {% endfor%}
        </div>

        {{ aside() }}
    </div>
</main>

{% if current_user.is_authenticated %}
  {% from 'helpers.html' import delete_modal %}
  {{ delete_modal() }}
{% endif %}


{% endblock %}