{% extends 'base.html' %}

{% block head %}
<title>Register</title> 
{% endblock %}

{% block body %}
    <form action="{{ url_for('auth.register') }}" method="POST">
        {{ form.csrf_token }}

        {% for field in form if field.name != "csrf_token" %}
            {{ field.label }}
            <br>
            {{ field }}
            <br>
            {% if field.errors %}
                {% for error in field.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            {% endif %}
            
        {% endfor %}
        <input type="submit" value="Sign Up">
    </form>
{% endblock body %}