{% extends 'base.html' %}

{% block head %}
    <title>Reset Password</title>
{% endblock head %}

{% block body %}
    {% if form %}
        <form action="#" method="post">
            {{ form.csrf_token }}

            {% for field in form if field.name != "csrf_token" %}
                {{ field.label }}
                <br>
                {{ field }}
                <br>
                {% for error in field.errors %}
                    <small style="color: red;">{{ error }}</small>
                    <br>
                {% endfor %}
            {% endfor %}
            <input type="submit" value="Reset">
        </form>
    {% else %}
        <h1>Invalid Token</h1>
        <h2>Please <a href="{{ url_for('auth.forgot_password') }}">Click here</a> to reset password</h2>
    {% endif %}
{% endblock body %}